<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center; /* horizontal */
            align-items: center;     /* vertical */
        }
    </style>
</head>
<body>
<form method="POST">
  <input name="keyword" placeholder="Enter keyword phrase">
  <button type="submit">Search</button>
</form>
</body>
</html>